<a href="https://colab.research.google.com/github/singhsuryansh12/firstrepo/blob/master/MS_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

df1 = pd.read_csv("/content/Admission_Predict.csv")
df2 = pd.read_csv("/content/Admission_Predict_Ver1.1.csv")

df = df1.append(df2, sort=False)
df.head()

dftr = df.iloc[:,1:8]
dfte = df.iloc[:,8]

dftr.head()
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dftr, dfte, random_state=0)

from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=200, max_depth=20, random_state=0, n_jobs=4)
regr.fit(X_train, y_train)
print(regr.score(X_test,y_test))
print(regr.feature_importances_)
df.head()

0.9154190577669604
[0.06363845 0.0341795  0.01540117 0.02962523 0.02720906 0.81952195
 0.01042464]

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]